DATABASE_URL="file:./dev.db"
JWT_SECRET="change-me"
PORT=4000
CLIENT_ORIGIN="http://localhost:3000"
NODE_ENV="development"

RESEND_API_KEY=""
EMAIL_FROM="Mahoratli pedagog <onboarding@resend.dev>"
EMAIL_SENDING_ENABLED="false"
